<a href="https://colab.research.google.com/github/aastha78/Ensemble-Algorithms/blob/main/Ensemble_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Here we will go through the implementation of multiple ensemble algorithms including random forest

In [ ]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
#Loading the dataset
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

In [ ]:
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
df.dropna()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968,6633,1.197756,0.553352,0.866976,1.432084,-0.454121,-1.127419,0.115799,-0.375933,1.110818,...,-0.154257,-0.111427,0.041743,0.872993,0.490391,-0.514364,0.004637,0.027420,5.00,0.0
5969,6634,-1.611463,0.190648,0.901715,1.531254,-1.535865,0.799245,1.513786,0.495829,0.200390,...,0.211223,0.007477,1.026272,0.057628,-0.024955,-0.368263,0.081684,0.140669,458.92,0.0
5970,6635,-1.420272,1.449354,1.320110,-1.894320,0.913695,0.454601,0.894179,-0.385450,2.433841,...,-0.529027,-0.368394,-0.247773,-1.189156,-0.126040,0.701487,0.277333,-0.222694,0.77,0.0
5971,6637,-1.206696,0.284728,2.152053,-2.850437,-0.437285,-0.238376,-0.333341,0.334679,2.870542,...,0.039460,0.464476,-0.457193,-0.556105,0.517579,0.008006,0.366054,0.185008,14.00,0.0
5972,6644,1.067611,0.091006,-0.153917,0.704233,0.113894,-0.826866,0.567690,-0.464181,0.957295,...,-0.476723,-1.410090,-0.037550,-0.177773,0.321810,0.114930,-0.109640,0.023205,139.90,0.0

In [ ]:
#train test split
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
x = x.dropna()
y = y.dropna()

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

## Lets try using our first ensemble algorithm i.e voting classifier
### it takes the aggregate value of the predictions and results the combined result
### it is more accurate then the general classification algorithms when used separately

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
log_clf = LogisticRegression()
rnd_clf = RandomForestClassifier()
svm_clf = SVC()

In [ ]:
voting_clf = VotingClassifier(estimators=[('lr',log_clf),('rf',rnd_clf),('svc',svm_clf)],
                              voting='hard')

In [ ]:
#lets look at the accuracy of each classifier on the test set
for clf in (log_clf,rnd_clf,svm_clf,voting_clf):
  clf.fit(x_train,y_train)
  y_pred = clf.predict(x_test)
  print(clf.__class__.__name__,accuracy_score(y_test,y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression 0.9988839285714286
RandomForestClassifier 0.9994419642857143
SVC 0.9994419642857143

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

VotingClassifier 0.9994419642857143

In [ ]:
## Voting classifier has the accuracy of 99.9

In [ ]:
##now we will try the soft voting algorithm

In [ ]:
# voting_clf2 = VotingClassifier(estimators=[('lr',log_clf),('rf',rnd_clf),('svc',svm_clf)],
#                               voting='soft')

In [ ]:
# voting_clf2.fit(x_train,y_train)
# y_pred = voting_clf2.predict(x_test)
# print(accuracy_score(y_test,y_pred))

## Another approach is to use bagging algorithms 
### bagging is training an algortihm on different random subsets of the training sets

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
bag_clf = BaggingClassifier(DecisionTreeClassifier(),n_estimators=500,max_samples=100,bootstrap=True,n_jobs=-1)

In [ ]:
bag_clf.fit(x_train,y_train)
y_pred = bag_clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9994419642857143

In [ ]:
#for pasting we have to set bootsrtap=false

## Checking Feature importance with the help of RandomForestClassifier

In [ ]:
for name,score in zip(df,rnd_clf.feature_importances_):
  print(name,score)

Time 0.011411065123337248
V1 0.032131094028084804
V2 0.031938755586110666
V3 0.015925345529818252
V4 0.04714480394061151
V5 0.015151298145915756
V6 0.06559790148947611
V7 0.0012062618289248722
V8 0.007499923857462531
V9 0.0023283617896797445
V10 0.027854378324319924
V11 0.010875470240301006
V12 0.1590948567914644
V13 0.008034050075902122
V14 0.05132679230216668
V15 0.05231957595474742
V16 0.028334927960622758
V17 0.09054776132775277
V18 0.0833856902601389
V19 0.01988470891120147
V20 0.0329085532038536
V21 0.00020222499077033874
V22 0.02424389292987092
V23 0.07848519862202594
V24 0.001431509281475702
V25 0.0030142109846758806
V26 0.004149811843433527
V27 0.012589878745209926
V28 0.02459851972768644
Amount 0.056383176202958754

In [ ]:
#it gives us the value that how much a feature plays a role in classification

## Boosting algorithms

### It is an ensemble method that can combine several weak learners into a strong learner

### Adaboost

In [ ]:
## the general idea of it is to train predictors sequentially,each trying to correct its predecessor

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
ada_clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),n_estimators=200,algorithm='SAMME.R',learning_rate=0.5)

In [ ]:
ada_clf.fit(x_train,y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=1),
                   learning_rate=0.5, n_estimators=200)

In [ ]:
y_pred = ada_clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9993205862370184

## Gradient Boosting

### works the same way as adabost but instead of tweaking weights it tries to fit the new predictor to the residual error

In [31]:
from sklearn.ensemble import GradientBoostingClassifier

In [33]:
gbrt = GradientBoostingClassifier(n_estimators=10,learning_rate=1.0)

In [34]:
gbrt.fit(x_train,y_train)

GradientBoostingClassifier(learning_rate=1.0, n_estimators=10)

In [35]:
y_pred = gbrt.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9983258928571429

## XGBoost

### It is an optimized implementation of Gradient boosting
### more fast and scalable

In [36]:
import xgboost

In [37]:
xgb_clf = xgboost.XGBClassifier()

In [38]:
xgb_clf.fit(x_train,y_train)

XGBClassifier()

In [40]:
y_pred = xgb_clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9994419642857143